@page
@model DetailsModel
@{
    ViewData["Title"] = "Product Stock Details";
}

<h1>Product Stock Details</h1>

<div>
    <h4>Product Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStock.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductStock.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStock.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductStock.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductStock.MinimalStock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductStock.MinimalStock)
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @if (Model.ProductStock.IsAvailable)
            {
                <span class="badge badge-success">Available</span>
            }
            else
            {
                <span class="badge badge-warning">Low Stock</span>
            }
        </dd>
        <dt class="col-sm-2">
            Is Available
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductStock.IsAvailable)
        </dd>
        <dt class="col-sm-2">
            Is Low Stock
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductStock.IsLowStock)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductStock.Id" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>